<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="py" path="*py" verb="*" modules="CgiModule" scriptProcessor="D:\Python27\python.exe &quot;%s&quot; %s" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
